# Database
POSTGRES_USER=qisur
POSTGRES_PASSWORD=qisur
POSTGRES_DB=qisur_db
# For app inside Docker use: postgres://user:pass@postgres:5432/dbname
# For local clients like DBeaver use: postgres://user:pass@localhost:5433/dbname
DATABASE_URL=postgres://qisur:qisur@postgres:5432/qisur_db

# JWT
JWT_SECRET=change-me-in-production
JWT_EXPIRATION_HOURS=24

# Server
PORT=8080

# Seeders (true to populate with test data)
SEED=true
